.App {
  text-align: left;
}

.App-logo1 {
  height: 5vmin;
  pointer-events: none;
  position: inline;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  position: absolute;
}

h1 {
  font-size: 2.5rem;
  color: #61dafb;
}

.navbar-brand {
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #fefefe;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  font-size: 0.75rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
